<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="container">
                <a class="navbar-brand" href="">
                    <strong>API Documentation</strong>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">1. Получение токена (необходим для всех дальнейших запросов).</strong><br>
            Необходимо выполнить <strong>POST</strong> запрос:<br>
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/generate_token/
            </li><br>
            Передав в <strong>BODY</strong> следущую структуру:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"username" : "some_username",<br>
                &nbsp;&nbsp;&nbsp;"password" : "some_password"<br>
                }
            </div>
            <li><strong>USERNAME</strong> - имя пользователя;</li>
            <li><strong>PASSWORD</strong> - пароль.</li><br>
            В случае успешной авторизации структура <strong>RESPONSE</strong> будет следующая:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"Token" : "some_token"<br>
                }
            </div>
        </div>
        </div><hr>

      <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">2. Получение информации о всех кошельках.</strong><br>
            Необходимо выполнить <strong>GET</strong> запрос следующего вида:<br>
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/
            </li><br>
            Передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
        </div>
      </div>
        <hr>
      <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">3. Получение информации о конкретном кошельке.</strong><br>
            Необходимо выполнить <strong>GET</strong> запрос следующего вида:<br>
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/<strong>{wallet_id}</strong>/
            </li><br>
            Передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
        </div>
      </div>
        <hr>
        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">4. Добавление нового кошелька.</strong><br>
            Необходимо выполнить <strong>POST</strong> запрос:<br>
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/
            </li><br>
            Передав в <strong>BODY</strong> следущую структуру:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"client_firstname" : "firstname",<br>
                &nbsp;&nbsp;&nbsp;"client_surname" : "surname"<br>
                }
            </div>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>CLIENT_FIRSTNAME</strong> - имя клиента;</li>
            <li><strong>CLIENT_SURNAME</strong> - фамилия клиента.</li>
        </div>
      </div>
        <hr>

        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">5. Изменение информации о кошельке.</strong><br>
            Необходимо выполнить <strong>POST</strong> запрос:
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/<strong>{wallet_id}</strong>/
            </li><br>
            Передав в <strong>BODY</strong> следущую структуру:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"client_firstname" : "new_firstname",<br>
                &nbsp;&nbsp;&nbsp;"client_surname" : "new_surname"<br>
                }
            </div><br>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
            <li><strong>CLIENT_FIRSTNAME</strong> - новое имя клиента;</li>
            <li><strong>CLIENT_SURNAME</strong> - новая фамилия клиента.</li>
        </div>
      </div>
        <hr>

        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">6. Удаление кошелька.</strong><br>
            Необходимо выполнить <strong>DELETE</strong> запрос следующего вида:<br>
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/<strong>{wallet_id}</strong>/
            </li><br>
            Передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
        </div>
      </div>
        <hr>

        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">7. Пополнение баланса кошелька.</strong><br>
            Необходимо выполнить <strong>POST</strong> запрос:
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/<strong>{wallet_id}</strong>/deposits/
            </li><br>
            Передав в <strong>BODY</strong> следущую структуру:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"amount" : "10000"<br>
                }
            </div>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
            <li><strong>AMOUNT</strong> - сумма пополнения.</li>
        </div>
      </div>
        <hr>

        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">8. Перевод денег с одного кошешлька на другой.</strong><br>
            Необходимо выполнить <strong>POST</strong> запрос:
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/wallets/<strong>{wallet_sender}</strong>
                /withdrawals/<strong>{wallet_receiver}</strong>/
            </li><br>
            Передав в <strong>BODY</strong> следущую структуру:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"amount" : "10000"<br>
                }
            </div>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_SENDER</strong> - номер кошелька отправителя;</li>
            <li><strong>WALLET_RECEIVER</strong> - номер кошелька получателя;</li>
            <li><strong>AMOUNT</strong> - сумма перевода.</li>
        </div>
      </div>
        <hr>

        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">9. Просмотр всех операций по кошельку.</strong><br>
            Необходимо выполнить <strong>GET</strong> запрос:
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/operations/<strong>{wallet_id}</strong>/
            </li><br>
            В <strong>BODY</strong> можно передать параметр фильтрации:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"filter" : "date"<br>
                }
            </div>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
            <strong>"date"</strong> - фильтрация по возрастанию даты проведения операции;<br>
            <strong>"-date"</strong> - фильтрация по убыванию даты проведения операции.
        </div>
      </div>
        <hr>
        <div class="row">
        <div class="col">
          <br><strong style="font-size: 20px">10. Просмотр конкретных операций по кошельку (пополнение/вывод).</strong><br>
            Необходимо выполнить <strong>GET</strong> запрос:
            <li class="list-group-item list-group-item-dark">
                https://nsokolova.samartsev.com/operations/<strong>{wallet_id}</strong>/
                <strong>{operation_name}</strong>/
            </li><br>
            В <strong>BODY</strong> можно передать параметр фильтрации:
            <div class="alert alert-secondary" role="alert">
                {<br>
                &nbsp;&nbsp;&nbsp;"filter" : "date"<br>
                }
            </div>
            И передав в <strong>HEADERS</strong>: <br>
            &nbsp;&nbsp;&nbsp;"Authorization: Token <strong>{your_token}</strong>"<br><br>
            <li><strong>YOUR_TOKEN</strong> - токен пользователя (см. пункт 1);</li>
            <li><strong>WALLET_ID</strong> - ID выбранного кошелька.</li>
            <li><strong>OPERATION_NAME:</strong>
                <ul>
                    <li>deposits - пополнение кошешька;</li>
                    <li>withdrawal - вывод денег с кошелька;</li>
                </ul>

            </li>
            <strong>"date"</strong> - фильтрация по возрастанию даты проведения операции;<br>
            <strong>"-date"</strong> - фильтрация по убыванию даты проведения операции.
        </div>
      </div>
        <hr>
    </div>
</body>
</html>